@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: "FiraCode Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

#window,
#clock,
#pulseaudio,
#disk,
#upower,
#language,
#cpu,
#memory,
#network,
#tray,
#custom-cava,
#custom-playerctl {
    background: transparent;
    padding: 0 10px;
    margin: 0 0px;
    border-radius: 0px;
    transition: background 0.2s ease;
}

window#waybar {
    background: @background;
    color: @foreground;
    padding: 0;
    margin: 0;
}

#window { color: @color9; }
#pulseaudio { color: @color2; }
#language { color: @color3; }
#cpu { color: @color4; }
#memory { color: @color5; }
#upower { color: @color6; }
#network { color: @color7; }
#clock { color: @color10; }
#disk { color: @color11; }


#pulseaudio:hover,
#disk:hover,
#language:hover,
#cpu:hover,
#memory:hover,
#network:hover,
#clock:hover,
#upower:hover,
#custom-cava:hover,
#custom-playerctl:hover,
#tray:hover {
    background: #333333;
}

#workspaces button {
    color: @color7;
    border: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease; 
    min-width: 20px;
    min-height: 20px;
}

#workspaces button:hover {
    background: @color1;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

#workspaces button.active {
    background: @color2;
    color: @background;
    border-color: @color2;
}

#workspaces button.occupied {
    border-color: @color1;
}

/* #workspaces button.empty { */
/*     color: #777777; */
/*     border-color: #777777; */
/* } */


#workspaces button.urgent {
    background: @color3;
    color: @foreground;
    animation: urgent-pulse 1.5s infinite;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
    -gtk-icon-effect: highlight;
}
