@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font", "Noto Color Emoji";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

#battery,
#clock,
#cpu,
#custom-clock,
#custom-playerctl,
#custom-wttr,
#custom-vpn,
#disk,
#language,
#memory,
#network,
#pulseaudio,
#upower,
#window {
    background: transparent;
    padding: 0 10px;
    margin: 0;
    border-radius: 0px;
    color: @color11;
}

#tray {
    margin: 0;
    padding: 0 5px;
}

window#waybar {
    /* background: black; */
    background: @background;
    color: white;
    padding: 0;
    margin: 0;
}

/* #cpu { color: @color9; } */
/* #disk { color: @color9; } */
/* #memory { color: @color9; } */
/* #pulseaudio { color: @color9; } */
/* #upower { color: @color9; } */
/* #battery { color: @color9; } */

/* #custom-clock { color: @color10; } */
/* #clock { color: @color7; } */
/* #custom-wttr { color: @color12; } */
/* #custom-playerctl { color: @color14; } */
/* #custom-vpn { color: @color14; } */
/* #language { color: @color3; } */
/* #network { color: @color10; } */

/* #tray { color: @color13; } */
/* #window { color: @color9; } */

#workspaces button {
    color: gray;
    border: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    min-width: 20px;
    min-height: 20px;
}

#workspaces button:hover {
    background: @color1;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

#workspaces button.active {
    background: @color1;
    color: white;
}

#workspaces button.occupied {
    border-color: @color1;
}

#workspaces button.urgent {
    background: @color3;
    color: @foreground;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
    -gtk-icon-effect: highlight;
}
