@import url("../../.cache/wal/colors-waybar.css");

* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 0;
    border: none;
    margin: 0;
    padding: 0;
}

#cpu,
#custom-clock,
#custom-wttr,
#disk,
#language,
#memory,
#network,
#pulseaudio,
#upower,
#window {
    background: transparent;
    padding: 0 10px;
    margin: 0;
    border-radius: 0px;
    transition: background 0.2s ease;
}

#tray {
    margin: 0;
    padding: 0 5px;
}

window#waybar {
    background: @background;
    color: @foreground;
    padding: 0;
    margin: 0;
}

#cpu { color: @color4; }
#custom-clock { color: @color10; }
#custom-wttr { color: @color12; }
#disk { color: @color11; }
#language { color: @color3; }
#memory { color: @color5; }
#network { color: @color7; }
#pulseaudio { color: @color2; }
#tray { color: @color13; }
#upower { color: @color6; }
#window { color: @color9; }


#cpu:hover,
#custom-cava:hover,
#custom-clock:hover,
#custom-playerctl:hover,
#custom-wttr:hover,
#disk:hover,
#language:hover,
#memory:hover,
#network:hover,
#pulseaudio:hover,
#tray:hover,
#upower:hover {
    background: #333333;
}

#workspaces button {
    color: @color7;
    border: none;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    transition: all 0.2s ease; 
    min-width: 20px;
    min-height: 20px;
}

#workspaces button:hover {
    background: @color1;
    box-shadow: none;
    text-shadow: none;
    outline: none;
}

#workspaces button.active {
    background: @color2;
    color: @background;
    border-color: @color2;
}

#workspaces button.occupied {
    border-color: @color1;
}

/* #workspaces button.empty { */
/*     color: #777777; */
/*     border-color: #777777; */
/* } */


#workspaces button.urgent {
    background: @color3;
    color: @foreground;
    animation: urgent-pulse 1.5s infinite;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .active {
    -gtk-icon-effect: highlight;
}
